﻿<style>
    .mt-15 {
        margin-bottom: 15px;
    }

    .card {
        border: 1px solid #ebebeb;
        margin-bottom: 20px;
    }

        .card img {
            width: 100%;
            height: 200px;
        }

    .card-block {
        padding: 10px;
    }

    .mygrid-wrapper-div {
        padding-top: 20px;
        overflow: scroll;
        height: 495px;
        overflow-x: hidden;
    }

    .card.choosen-promo {
        cursor: not-allowed;
        opacity: 0.5;
        box-shadow: 0 2px 4px rgba(46, 20, 20, 0.49);
    }
</style>

<div ng-controller="WTC.AggregatePromoPickerController" class="wmd-panel">
    <div id="wmd-button-bar-{{model.alias}}"></div>

    <!--<textarea ng-model="model.value" class="wmd-input" id="wmd-input-{{model.alias}}">
        your content
    </textarea>-->
    <!--Current Saved Package Title: <label> {{mySplit(model.value,0)}}</label><br />-->
    Current Saved Promo Code:  <label id="wmd-input-{{model.alias}}">{{model.value}}</label><br />
    
    
    <div id="promodasts" style="width:50%;float:left;">
        <label style="display:inline-block;width:20%">
            <span style="color:red;">*</span>
            Segment:
        </label>
        <select id="segmentddl" class="segmentddl">
            <option value="">Choose</option>
            <option value="HotelPackage">Hotel Package</option>
            <option value="FlyAndDrive">Fly & Drive</option>
            <option value="DynamicFlight">Dynamic Flight</option>
        </select>

        <input id="btn_checkpromotion" type="button" ng-click="checkpromotion($event)" class="btn btn-primary" value="Search Promo" />
    </div>

    <br />
    <br />

    <div id="promoblock" style="display:inline-block;width:100%;">
        <div dynamic="html"></div>
    </div>

    <br />
    <br />

    <div id="promolistblock" style="display:inline-block;width:100%;">
        <div dynamic="promolisthtml"></div>
    </div>


</div>