﻿<style>
    .mt-15 {
        margin-bottom: 15px;
    }

    .card {
        border: 1px solid #ebebeb;
        margin-bottom: 20px;
    }

        .card img {
            width: 100%;
            height: 200px;
        }

    .card-block {
        padding: 10px;
    }

    .mygrid-wrapper-div {
        padding-top: 20px;
        overflow: scroll;
        height: 495px;
        overflow-x: hidden;
    }

    .card.choosen-promo {
        cursor: not-allowed;
        opacity: 0.5;
        box-shadow: 0 2px 4px rgba(46, 20, 20, 0.49);
    }
</style>

<div ng-controller="WTC.LivePromoPickerController" class="wmd-panel">
    <div id="wmd-button-bar-{{model.alias}}"></div>

    <!--<textarea ng-model="model.value" class="wmd-input" id="wmd-input-{{model.alias}}">
        your content
    </textarea>-->
    <!--Current Saved Package Title: <label> {{mySplit(model.value,0)}}</label><br />-->
    Current Saved Package:  <label id="wmd-input-{{model.alias}}">{{model.value}}</label><br />
    
    <div id="promodates" style="margin-bottom:10px; display:inline-block">
        <div id="promofromdate" style="width:50% ; float:left">
            <label style="display:inline-block;width:100%">
                <span style="color:red;">*</span>
                From:
            </label>
            <input style="height:30px" type="date" onchange="fromDateChanged(this)" class="promodatepicker" id="fromdate" />
        </div>
        <div id="promotodate" style="width:50%; float:left">
            <label style="display:inline-block;width:100%">
                <span style="color:red;">*</span>
                To:
            </label>
            <input style="height:30px" type="date" class="promodatepicker" id="todate" />
        </div>
    </div>
    <br />

    <div id="promodasts" style="width:32%;float:left;">
        <label style="display:inline-block;width:100%">
            <span style="color:red;">*</span>
            Destination:
        </label>
        <select id="countriesddl" class="countriesddl"></select>
    </div>

    <div style="width:28%;float:left;">
        <label style="display:inline-block;width:100%">
            &#32
        </label>
        <input id="btn_checkpromotion" type="button" ng-click="checkpromotion($event)" class="btn btn-primary" value="Search Promo" />
    </div>


    <div style="display:inline-block;width:100%;">
        <div dynamic="html"></div>
    </div>


</div>